<div
  [ngClass]="{
    container: temperature < 15,
    containerDesertNew: temperature > 24,
    containerBeach: temperature >= 15 && temperature <= 24
  }"
>
  <div class="upper-data">
    <img src="../assets/mountain.png" *ngIf="temperature < 15" />
    <img
      src="../assets/beach.png"
      *ngIf="temperature >= 15 && temperature <= 24"
    />
    <img src="../assets/desertNew.png" *ngIf="temperature > 24" />
    <div class="wetter-data">
      <div class="suche">
        <form #form="ngForm" (submit)="onSubmit()">
          <input
            type="text"
            placeholder="Look for a city"
            [(ngModel)]="stadt"
            name="city"
          />
        </form>
      </div>

      <div class="location">
        {{ stadtDisplay | titlecase }} <br /><br />
        <span class="temperature">{{ 15 | number : "1.0-0" }}°C</span>
      </div>
    </div>
  </div>
  <div class="lower-data">
    <div
      [ngClass]="{
        moreInfoContainer: temperature < 15,
        moreInfoContainerDesertNew: temperature > 24,
        moreInfoContainerBeach: temperature >= 15 && temperature <= 24
      }"
    >
      <div class="info-block">
        <div class="info-block-label">
          <div
            [ngClass]="{
              infoBlockLabelIcon: temperature < 15,
              infoBlockLabelIconDesert: temperature > 24,
              infoBlockLabelIconBeach: temperature >= 15 && temperature <= 24
            }"
          >
            <mat-icon>ac_unit</mat-icon>
          </div>
          <span>min</span>
        </div>
        <div class="info-block-value">
          &nbsp;{{ minTemperature | number : "1.0-0" }}°
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <div
            [ngClass]="{
              infoBlockLabelIcon: temperature < 15,
              infoBlockLabelIconDesert: temperature > 24,
              infoBlockLabelIconBeach: temperature >= 15 && temperature <= 24
            }"
          >
            <mat-icon>local_fire_department</mat-icon>
          </div>
          <span>max</span>
        </div>
        <div class="info-block-value">
          &nbsp;{{ maxTemperature | number : "1.0-0" }}°
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <div
            [ngClass]="{
              infoBlockLabelIcon: temperature < 15,
              infoBlockLabelIconDesert: temperature > 24,
              infoBlockLabelIconBeach: temperature >= 15 && temperature <= 24
            }"
          >
            <mat-icon>air</mat-icon>
          </div>
          <span>wind</span>
        </div>
        <div class="info-block-value">{{ windSpeed }}km/h</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <div
            [ngClass]="{
              infoBlockLabelIcon: temperature < 15,
              infoBlockLabelIconDesert: temperature > 24,
              infoBlockLabelIconBeach: temperature >= 15 && temperature <= 24
            }"
          >
            <mat-icon>water_drop</mat-icon>
          </div>
          <span>humidity</span>
        </div>
        <div class="info-block-value">{{ humidity }}%</div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
